<div class="container">
<h1>Peliculas#index</h1>
<p>Find me in app/views/peliculas/index.html.erb</p>

<% @peliculas.each do |pelicula| %>

<p> <%= link_to pelicula.name, pelicula %> </p>
<p><%= pelicula.name %></p>
<p><%= pelicula.stars %></p>
<p><%= pelicula.main_actor %></p>
<p><%= pelicula.year %></p>
<p><%= link_to "Editar Pelicula", edit_pelicula_path(pelicula)%></p>
<%end%>
<p> <%= link_to "añadir nueva peli", new_pelicula_path  %> </p>
</div>