<div class="container">
<b>Nombre de la pelicula:</b> <%= @pelicula.name %>
<br>
<b>Tomates que tiene:</b> <%= @pelicula.stars %>
<br>
<b>Actor principal:</b> <%= @pelicula.main_actor %>
<br>
<b>año:</b> <%= @pelicula.year %>
<br>
<b>Se añadio a la base de datos el...</b> <%= @pelicula.created_at %>
<br> 
<%= image_tag @pelicula.url %>
<br>
<%= link_to 'Borrar', pelicula_path(@pelicula), :method => :delete %>
<p><%= link_to "Back", peliculas_path %></p>
</div>